<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myYummlyAPIKey</key>
	<string>2c6635a18d25252c7717e5ab1a37a9aa</string>
	<key>myYummlyAPIId</key>
	<string>5de7f51e</string>
</dict>
</plist>
